/*   F O O T E R   */

footer
{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    

    height: 5em;

    gap: 4em;

    background-color: #73BA9B;
    
}


.hyperlinkFooter,
.barreFooter
{
    text-decoration: none;
    color: white;
}

@media(max-width: 765px){
    footer a{
        font-size: 15px;
    }
}